.profile-images-wrapper {
    position: relative;
    width: 220px; /* Adjust */
    height: 220px; /* Adjust  */
}

.profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-image {
    opacity: 0;
    /* transform: translateX(-50%); */
}

.profile-images-wrapper:hover .main-image {
    opacity: 0;
    /* transform: translateX(50%); */
}

.profile-images-wrapper:hover .hover-image {
    opacity: 1;
    /* transform: translateX(0); */
}

.tag-button {
    background-color: var(--secondary);
    color: var(--theme);
    border: none;
    padding: 0.1rem 0.4rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
    position: relative;
    pointer-events: auto;
}

.tag-button:hover {
    background-color: var(--tertiary);
}
