html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    overflow: hidden;
}
.link {
    stroke: #2E2E2E;
    stroke-width: 2px;
}

.node {
    stroke: #fff;
    stroke-width: 2px;
}
.textClass {
    stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 14px;
}
.d3-tip {
    line-height: 1;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.85);
}
